body{
   
    font-family: 'Roboto', sans-serif;
    
}
a {
    text-decoration: none;
}

:root {
    --color-a:#2196F3 ;
    --color-b: #757575;
    --color-c:#2F303A ;
    --color-d:#FFFFFF ;
    --colo-ir:#2dce50 ;
    --color-f:#8178b9 ;
    --color-g:#E5E5E5 ;
    --color-k: #F5F4FA;
    --color-l:  rgba(255, 255, 255, 0.6);
}






.list{
    list-style: none;
}
.nigniya-nas{
    color: var(--color-b);
}
.nogi{
    background: var(--color-c);
}
.logo{
    color: var(--color-a);
}

.adres{
    color:var(--color-d);
    font-style: normal;   
}
.studio1{
    color: var(--color-c);
}
.dannie list{
    color:var(--color-d);
}
.pochta , .nomer{
 color: var(--color-b);
}

}

}

.portfolio :active{
    color:var(--color-a);
}
.vse :hover{
    color:var(--color-a);
}
.name{
    cursor: pointer;
}

.foto{
 background: var(--color-k);
}
.hero-kolor{
    background: var(--color-c);
}
.nadpis{
    color: var(--color-d);
}
.knopka-hero{
    background:var(--color-a);
    color: var(--color-d);
}
.fon-ludei{
    background: var(--color-d);
}
.pochta:hover{
    color:var(--color-a);
}
.nomer:hover{
    color:var(--color-a);
}
.pochta3:hover{
    color:var(--color-a);
}
.nomer4:hover{
    color:var(--color-a);
}
.pochta3{
color: var(--color-b);
}
.nomer4{
    color: var(--color-b);
}
.name{
background: var(--color-k);
color: var(--color-c);
}
.name:hover{
background: var(--color-a);
color: var(--color-d);
}

.portfolio{
    color: var(--color-c);
}
.kontakt{
    color: var(--color-c);
}
.st{
    color: var(--color-d);
}
.pochta1{
    color: var(--color-b);
}
.nomer1{
    color: var(--color-b);
}
.name{
    cursor: pointer;
    font-weight: 500;
font-size: 16px;
line-height: 26px;
}
.podpis{
    font-size: 16px;
line-height: 19px;
font-weight: normal;
color: var(--color-b);
}
.pd{
    font-size: 18px;
line-height: 36px;
font-weight: bold;
color: var(--color-c);
}
.ps{
    font-size: 16px;
line-height: 30px;
font-weight: normal;
color: var(--color-b)
}
.pochta3{
    font-size: 14px;
    line-height: 16px;
}
.nomer4{
    font-size: 14px;
line-height: 16px;
}
.name{
    font-size: 16px;
line-height: 26px;
}

p{
    font-weight: normal;
font-size: 14px;
line-height: 24px;
}
.pochta, .nomer{
    font-size: 14px;
}

.nadpis{
    font-size: 44px;
line-height: 60px;
font-weight: 900;
}
h3{
    font-size: 14px;
line-height: 16px;



}
.knopka-hero{
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    font-family: inherit ;
}
.text{
    font-size: 14px;
line-height: 24px;
font-weight: normal;
}

h2{
    font-size: 36px;
line-height: 42px;
font-weight: bold;
}
.g{
    font-size: 36px;
line-height: 42px;
font-weight: bold;
}
h3{
    font-size: 16px;
line-height: 19px;
font-weight: 500;

}


.text{
    color: var(--color-b);
}




.logotip{
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
}

.menu{
    font-weight: 500;
font-size: 14px;
line-height: 16px;
}
.silki{
    font-weight: 500;
font-size: 14px;
line-height: 16px;
}
.dannie{
    font-weight: normal;
font-size: 14px;
line-height: 24px;
}











.studias{
    color: var(--color-c);
}



.studias:hover,
.studias:focus 
.studias:active
.studias:visited{
    color: var(--color-a);
}


.portfolio:hover,
.portfolio:focus 
.portfolio:active
.portfolio:visited
{
    color:var(--color-a) ;
}
.kontakt:hover,
.kontakt:focus 
.kontakt:active
.kontakt:visited
{
    color: var(--color-a) ;
    
}
.name:hover,
.name:focus 
.name:active
.name:visited
{
    color: var(--color-a) ;
    color: #FFFFFF;
}


.first-page{
    color: var(--color-a);
}
.second-page{
    color: var(--color-a);
}
.tretya-page{
    color: var(--color-a);
}
.nomer1 , .pochta1{
    color: var(--color-l);
}
.knopka-hero:hover ,
.knopka-hero:focus{
 color: var(--color-c);
 background:  var(--color-d) ;
}
.zagalovki ,.nadpis{
    text-transform: uppercase;
}
.pochta1 ,.nomer1{
    font-style: normal;
}